@{

    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


}

<div class="text-center">
    <h1>Bienvenido a CCSS Reporter</h1>
    <h2>Registro de enfermedades crónicas familiares</h2>
   
    <br />
</div>
<navbar class="navbar navbar-expand-lg navbar-light bg-light">

    <ul class="nav navbar-nav navbar-center" style="margin: 0 auto;">
        <li>
            <a class="align-items-center" href="@Url.Action("RegistroProfesional", "RegistroProfesional")">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-thermometer-high" viewBox="0 0 16 16">
                    <path d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V2.5a.5.5 0 0 1 1 0v8.585a1.5 1.5 0 0 1 1 1.415z" />
                    <path d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0V2.5zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1z" />
                </svg><br /> Registrar enfermedad
            </a>
        </li>
       
    </ul>

</navbar>
