html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.FormEnfermedad {
    padding-top: 100px;
    width: 70%;
    background-color: #f2ffff;
    padding: 20px;
    border-radius: 5px;
}



.spacereg {
    width: 100%;
    display: inline-block;
}

.spacereg input{
    width: 50%;
   align-items:self-end;
}

.HideSectCovid{
    visibility:hidden;
}

.ShowSectCovid {
    visibility: visible;
}

.labelChecked {
    font-size: 16px;
    border-radius: 3px;
    padding: 10px;
    background-color: green;
}

.labelSintomas{
    font-size: 16px;
    border-radius: 3px;
    padding:10px;
    background-color:white;
}

.checkbox{
    margin-top: 10px;
    font-size: 16px;
    border-radius: 3px;
    padding: 10px;
    background-color: white;
}


input[type="checkbox"], input[type="radio"] {
    opacity: 0%;
    
}
    input[type="radio"]:checked + label {
        background-color: green;
        color: white;
    }

    input[type="checkbox"]:checked + label {
        background-color: green;
        color: white;
    }

.logocss{
    width:100px;
    height:100px;
}

#firstSection{
    justify-content:center;
}

#mainNavbar{
}

.paper{
   padding:20px;
  box-shadow:2px 2px 2px 2px;
  background-color:aliceblue;
}